#footer
  .footer-info
    if theme.busuanzi == true
      p 本站总访问量：
        i#busuanzi_container_site_pv
          i#busuanzi_value_site_pv
        | 次
    p 
      span  Copyright &copy;
        a(href=url_for('.'), rel='nofollow')= (config.author || config.title) + '.'
      span  京ICP备
        a(rel='nofollow', target='_blank', href='http://www.miitbeian.gov.cn/')  18015833号-1.
    p
      span  Theme by
        a(rel='nofollow', target='_blank', href='https://github.com/chaooo/hexo-theme-BlueLake')  BlueLake.
      if theme.busuanzi == true
        span  Count by
          a(href="http://busuanzi.ibruce.info/")  busuanzi.
      span  Powered by
        a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
