<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>photo</string>
	</array>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>cache.md</string>
		</array>
		<array>
			<string>es6-class.md</string>
		</array>
		<array>
			<string>es6-generator.md</string>
		</array>
		<array>
			<string>ES6-in-depth.md</string>
		</array>
		<array>
			<string>es6-module.md</string>
		</array>
		<array>
			<string>es6-string.md</string>
		</array>
		<array>
			<string>es6-style.md</string>
		</array>
		<array>
			<string>iterm2.md</string>
		</array>
		<array>
			<string>mysql-batch-delete.md</string>
		</array>
		<array>
			<string>nexttick_immediate.md</string>
		</array>
		<array>
			<string>promises.md</string>
		</array>
		<array>
			<string>sql.md</string>
		</array>
		<array>
			<string>summary.md</string>
		</array>
		<array>
			<string>UnsupportedOperationException.md</string>
		</array>
		<array>
			<string>web-sit.md</string>
		</array>
		<array>
			<string>android-base.md</string>
		</array>
		<array>
			<string>escape.md</string>
		</array>
		<array>
			<string>nginx-install.md</string>
		</array>
	</array>
</dict>
</plist>
